body {
    font-family: "IBM Plex Mono", monospace;
    background-image: url(Sitethingy.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100% auto;

    overflow-x: hidden;  /* kills horizontal scrolling */
}

.wardlowcc {
    font-size: 9em;
    color: white;
    position: absolute;
    width: 100%;
    height: 100vh;

    line-height: 1.0;  /* this should mean that there's not alot of space between the two lines. if what i read is correct, 1.0 should make it so that the two lines almost touch? not sure */

    z-index: -1;
}

main {
    margin-top: 1300px; 
    color: white;     
    font-size: 1.2em;
}

nav {
    font-size: 1.2em;
}

nav a {
    color: white;
}

nav a:visited {
    color: gray;
}

main h3 a {
    color: white;
}

main h3 a:visited {
    color: gray;
}
