body {
    font-family: "IBM Plex Mono", monospace;  /* defaults to monospace, uses IBM Plex Mono if detected */
    background-color: black;
}

.wardlowcc {
    font-size: 9em;
    color: white;
    position: absolute;  /* changed from relative, absolute positioning removes it from the normal page flow */
    width: 100%;
    height: 100vh;

    line-height: 1.0;  /* this should mean that there's not alot of space between the two lines. if what i read is correct, 1.0 should make it so that the two lines almost touch? not sure */

    z-index: -1; /* this puts it behind everything */
                 /* the default z-index is 0. we can think of the z-index as a layer inside of an image editor like gimp or paint.net */
}


/* about nav coloring
we do have the nav section, but nav doesn't contain hyperlinks: it contains <a> containers that hold hyperlinks
so we can specify that we want these nav hyperlinks to have different colors from normal
if, for example, we had another hyperlink in the .wardlowcc container, its colors would not be affected by nav a {} */

nav {
    font-size: 1.2em;
}

nav a {
    color: white;
}

nav a:visited {
    color: gray;
}