/* global styles */

/*
for this file, i will be using a tutorialpedia.org post as a guide to how i can use css
to format the index.html
https://www.tutorialpedia.org/blog/define-semantic-element-html-css/
*/


/* 
nesting works, which is cool, but i probably shouldn't really use it. i'm on firefox 
nightly so it might for some reason support nesting but some older browser might not. i'll do that later
what i want to try now is to try to get the article on the side, and keep the sections in the middle
*/

/*
for the grids, i apparently need to set their grid manually for EVERYTHING, which kinda stinks
but i think that it's ok, because i'm still learning
*/



body {
    font-family: monospace;
    display: grid;
}

h1 {
    /*nothing...*/
    font-family: monospace; /* placeholder */
}

div {
    grid-template-columns: 1fr 4fr;
    border: 2px solid black;
}

nav {
    grid-column: 1;
}

p {
    grid-column: 2;
}